<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
        {# Styles for components #}
        <link rel="stylesheet" href="{{ css('components/profiler.css') }}" media="screen">
        {# Styles - general #}
        <link rel="stylesheet" href="{{ css('templates/base_html_twig.css')}}" media="screen">
    {% endblock %}
    <title>
        {% block title %}{% endblock %}
    </title>

</head>
<body>
{% block body %}


{% endblock %}

{% include 'components/profiler.html.twig' %}

{% block javascripts %}

{% endblock %}
</body>
</html>
